a {
  color: #816843;
  text-decoration: none;
  transition: 0.3s;
  
}
.logo2  {
  font-size: 25px;
  color: #232323;
  font-weight: bold;
  min-height: 60px;
  padding-top: 10px;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

nav {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  background: #f1eeea;
  height: 8vh;
  padding: 60px;
  position: relative;
  z-index: 99999999999999999999999;
 
}

.nav-list {
  
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
 

}

.nav-list li {
  letter-spacing: 3px;
  
}
.nav-list a:hover {
 color: #c7aa81;
}

.mobile-menu {
  display: none;
  cursor: pointer;
  right: 0;
  z-index: 9999999999999999999999999999;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #816843;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 1024px) {
 
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    max-width: 400px;
    width: 100vw;
    height: 90vh;
    background: #f1eeea;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
    z-index: 99999999999999999;
    cursor: pointer;
  }
}

.nav-list.active {
  transform: translateX(0);
  
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}
