/* SOBRE CONTEUDO */
.sobre {
  background-color: #f1eeea;
}
.sobre-conteudo {
  padding-top: 200px;
  display: flex;
  flex-wrap: wrap;
  align-items: left;
  position: relative;
  width: 100%;
  height: auto;
}
.img-row img {
  margin-top: 100px;
  margin-bottom: 100px;
  object-fit:  cover;
  background-size: cover;
 
}
.sub-title2 {
  display: flex;
  align-self: flex-start;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  text-align: right;
  color: #343434;
  position: absolute;
  top: -60%;
  left: 5%;
  z-index: 1;
}
.box-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: center;
  background-color: #656b50;
  padding: 3rem 6rem;
  color: #fff;
  position: absolute;
  left: 48%;
  top: 70%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  z-index: 1;
}
.view {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #b69b74;
  font-size: 1.2rem;
}
.view::after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 10px;
  margin-left: 12px;
  background: url("/icones/seta.svg");
  transition: transform 0.2s;
}
.view:hover::after {
  transform: translateX(4px);
}
/* Laptops, desktops */
@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .box-content {
    display: flex;
  }
  .box-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: center;
    background-color: #656b50;
    padding: 1rem 1rem;
    color: #fff;
    position: absolute;
    left: 0%;
    top: 90%;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    z-index: 1;
  }

  .sub-title2 {
    display: flex;
    align-self: flex-start;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 3.4rem;
    text-align: left;
    color: #343434;
    position: absolute;
    top: -240%;
    left: 60%;
    z-index: 99999999999999;
    display: block;
    width: 400px;
  }
}
/* Tablets, ipads */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .sobre-conteudo {
    padding-top: 190px;
  }
  .box-content {
    display: flex;
    /* top: 50%;
    left: -2%; */
  }
  .box-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: center;
    background-color: #656b50;
    padding: 1rem 1rem;
    color: #fff;

    position: absolute;
    left: 0%;
    top: 90%;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    z-index: 1;
  }
  .sub-title2 {
    display: flex;
    align-self: flex-start;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    text-align: left;
    color: #343434;
    position: absolute;
    font-size: 3.4rem;
    text-align: left;
    color: #343434;
    position: absolute;
    top: -240%;
    left: 60%;
    z-index: 99999999999999;
    display: block;

    max-width: 400px;
    width: 100%;
  }
  .sobre-conteudo {
    padding-top: 190px;
  }
}
/* Tablets de baixa resolução, celulares */
@media screen and (min-width: 481px) and (max-width: 780px) {
  .box-content {
    display: flex;
  }
  .box-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: center;
    background-color: #656b50;
    padding: 1rem 1rem;
    color: #fff;

    position: absolute;
    left: 0%;
    top: 80%;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    z-index: 1;
  }

  .sub-title2 {
    display: flex;
    align-self: flex-start;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    text-align: left;
    color: #343434;
    position: absolute;
    top: -120%;
    left: 37%;
    z-index: 99999999999999;
    display: block;
    width: 400px;
  }
}
/* A maioria dos smartphones móveis */

@media screen and (min-width: 320px) and (max-width: 480px) {
  .box-content {
    display: flex;
  }
  .box-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: center;
    background-color: #656b50;
    padding: 1rem 1rem;
    color: #fff;

    position: absolute;
    left: 0%;
    top: 66%;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    z-index: 1;
  }
  
  .box-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: center;
    background-color: #656b50;
    padding: 1rem 1rem;
    color: #fff;
    position: absolute;
    left: 0%;
    top: 66%;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    z-index: 1;
  }

  .sub-title2 {
    display: flex;
    align-self: flex-start;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size:1.7rem;
    text-align: left;
    color: #343434;
    position: absolute;
    top: -50%;
    left: 37%;
    z-index: 99999999999999;
    display: block;
    max-width: 400px;
    width: 100%;
  }

  
  .sobre-conteudo {
    padding: 40px;
  }
 }
 /* Tablets, ipads */
@media screen and (min-width: 768px) and (max-width: 1180px) {
  .box-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: center;
    background-color: #656b50;
    padding: 1rem 1rem;
    color: #fff;
    position: absolute;
    left: 0%;
    top: 75%;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    z-index: 1;
  }
  .sub-title2 {
    display: flex;
    align-self: flex-start;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size:2.4rem;
    text-align: left;
    color: #343434;
    position: absolute;
    top: -90%;
    left: 37%;
    z-index: 99999999999999;
    display: block;
    max-width: 400px;
    width: 100%;
  }
}